body {
  margin: 0px; }

h1 {
  font-style: italic;
  font-weight: lighter;
  font-size: 65px;
  text-align: center;
  font-family: "Indie Flower", cursive; }

.intro {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 40px; }

.imgSecciones {
  max-width: 500px;
  margin-left: 80px;
  margin-bottom: 5px;
  margin-top: 15px; }

.tab-content > .tab-pane {
  margin-left: -20px; }

li {
  list-style-type: none; }

main {
  background-image: linear-gradient(white, #E57723, white); }

.align-items-start {
  margin-left: 75px; }

.d-flex {
  height: 370px; }

.tab-content .active {
  display: -webkit-inline-box; }

.boton {
  background-color: #E57723;
  border: none;
  color: black;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  border-radius: 20px; }

.boton:hover {
  color: white; }

.nav-link {
  background-color: #E57723; }

.nav-pills .nav-link {
  border-radius: 20px; }

.fondoCafe {
  border: silver 90px solid;
  border-image: url("../Img/fondocafe.png");
  border-image-slice: 87;
  background-image: linear-gradient(#E57723, white, #E57723); }

.nav-link {
  color: red; }

.nav-link:hover {
  background: #E57723;
  color: white; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #E57723; }

button {
  font-family: "Source Code Pro", monospace; }

body {
  font-family: "Source Code Pro", monospace; }

#cafeFondo {
  height: 360px; }

.gridForm {
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25%;
  grid-gap: 5px;
  padding-top: 13px; }

.gridFormH1 {
  grid-row-start: 1;
  justify-self: end;
  align-self: center; }

.gridFormH2 {
  grid-row-start: 1;
  grid-column-start: 2; }

.gridFormH3 {
  grid-row-start: 2;
  justify-self: end;
  align-self: center; }

.gridFormH4 {
  grid-row-start: 2;
  grid-column-start: 2; }

.gridFormH5 {
  grid-row-start: 3;
  justify-self: end;
  align-self: center; }

.gridFormH6 {
  grid-row-start: 3;
  grid-column-start: 2; }

.gridFormH7 {
  grid-row-start: 4;
  justify-self: end;
  align-self: center; }

.gridFormH8 {
  grid-row-start: 4;
  grid-column-start: 2; }

.gridFormH9 {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3; }

.gridFormH10 {
  grid-row-start: 6;
  justify-self: end;
  align-self: center; }

.gridFormH11 {
  grid-row-start: 6;
  grid-column-start: 2;
  align-self: center; }

.gridFormH12 {
  grid-row-start: 7;
  justify-self: end;
  align-self: center; }

.gridFormH13 {
  grid-row-start: 7;
  grid-column-start: 2;
  justify-self: start;
  align-self: center; }

.gridFormH14 {
  grid-row-start: 8;
  justify-self: end;
  align-self: center; }

.gridFormH15 {
  grid-row-start: 8;
  grid-column-start: 2;
  justify-self: start;
  align-self: center; }

.marginCon {
  margin-bottom: 22px;
  padding-top: 30px; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(white, #E57723);
  font-size: 15px; }

a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px; }

a:hover {
  color: white; }

.footH3 {
  font-size: 10px;
  padding-top: 22px; }

.bordeF {
  border-top-width: 7px;
  border-top-style: dashed;
  border-top-color: black;
  padding-bottom: 10px; }

.telefono {
  margin-top: 21px; }

header {
  height: 100px;
  background-image: linear-gradient(#E57723, white); }

.bordeH {
  border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: black;
  padding-bottom: 10px;
  margin-bottom: 0px; }

.carousel {
  margin: 5px;
  margin-top: 50px; }

.logo {
  height: 170px;
  padding-top: 20px;
  padding-left: 50px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); }

.logo:hover {
  filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.7)); }

nav {
  margin-top: -145px;
  margin-right: 10px; }

nav li {
  font-size: 20px;
  padding: 10px;
  font-family: "Source Code Pro", monospace; }

nav li:hover {
  background-color: #E57723;
  border-radius: 25px; }

nav a {
  text-decoration: none;
  color: black; }

nav a:hover {
  color: white; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.noso {
  font-family: "Source Code Pro", monospace; }

.historia {
  max-width: 300px; }

.grid {
  display: grid;
  grid-template-areas: "p1 i1" "i2 p2" "p3 i3"; }

.hijoG1 {
  grid-area: p1;
  justify-self: end;
  align-self: center; }

.hijoG2 {
  grid-area: i1;
  justify-self: center;
  align-self: center; }

.hijoG3 {
  grid-area: i2;
  justify-self: center;
  align-self: center; }

.hijoG4 {
  grid-area: p2;
  justify-self: start;
  align-self: center; }

.hijoG5 {
  grid-area: p3;
  justify-self: end;
  align-self: center; }

.hijoG6 {
  grid-area: i3;
  align-self: center;
  justify-self: center;
  margin-bottom: 7px; }

.marginNos {
  padding-top: 30px; }

.fondoNos {
  border: silver 90px solid;
  border-image: url("../Img/fondonosotros.png");
  border-image-slice: 87;
  background-image: linear-gradient(#E57723, white, #E57723);
  width: 100%;
  height: 100%; }

.tituloNos {
  margin-top: -27px; }

.fondoPan {
  border: silver 90px solid;
  border-image: url("../Img/fondopan.png");
  border-image-slice: 87;
  background-image: linear-gradient(#E57723, white, #E57723); }

.nav-link {
  color: black; }

.respuesta {
  text-align: center;
  margin-top: 139px; }

.fondoSand {
  border: silver 90px solid;
  border-image: url("../Img/fondosand.png");
  border-image-slice: 87;
  background-image: linear-gradient(#E57723, white, #E57723); }

#sandFondo {
  height: 530px;
  margin-left: 92px; }

#seccionSandwich {
  margin-left: 25px; }

#pebeteImagen {
  margin-right: 10px; }

.imgPebetes {
  margin-right: 5px; }

.titulo404 {
  margin-top: -130px;
  font-size: 100px; }

.parrafo404 {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: -10px; }

.travolta {
  margin-bottom: 20px; }

.vinculo404 {
  color: blue; }

@media screen and (max-width: 380px) {
  a .logo {
    height: 75px;
    padding-left: 7px;
    padding-top: 10px;
    margin-left: 105px;
    margin-top: 15px; }
  .flex {
    justify-content: flex-start; }
  nav ul li {
    padding: 5px;
    margin-top: 165px;
    font-size: 10px;
    margin-left: -20px; }
  header {
    height: 150px; }
  .tituloInicio {
    margin-top: -5px;
    margin-bottom: -15px; }
  .carCentr {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
    width: 360px; }
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 10px;
    height: 150px;
    margin-top: 40px; }
  .telefono {
    margin-left: 28px; }
  p {
    margin-top: 4px;
    margin-bottom: 0rem; }
  footer .footH3 {
    font-size: 8px;
    padding-top: 0px; }
  h1 {
    font-size: 35px; }
  .intro {
    font-size: 10px; }
  .align-items-start {
    margin-left: 0px; }
  .nav-link {
    font-size: 8px;
    color: black; }
  .d-flex {
    height: 265px; }
  .nav-pills .nav-link {
    margin-left: 5px; }
  .imgSecciones {
    max-width: 115px;
    margin-left: 15px;
    margin-top: 45px;
    margin-right: 5px; }
  .fondoNos {
    border: silver 30px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 60;
    border-image-repeat: stretch; }
  .fondoPan {
    border: silver 30px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 60;
    border-image-repeat: stretch; }
  .fondoCafe {
    border: silver 30px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 60; }
  .fondoSand {
    border: silver 30px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 60;
    border-image-repeat: stretch; }
  #cafeFondo {
    height: 210px; }
  #sandFondo {
    height: 550px;
    margin-left: 1px; }
  .gridForm {
    font-size: 9px; }
  .gridFormH12 {
    font-size: 9px; }
  .gridFormH13 {
    font-size: 9px; }
  #tituloContacto {
    margin-top: -22; }
  h3 {
    margin-top: -110px;
    font-size: 17px; }
  .bicicleta {
    height: 110px; }
  .boton {
    font-size: 9px;
    margin-bottom: 5px; }
  .hijoG1 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG2 {
    justify-self: center; }
  .hijoG3 {
    justify-self: center; }
  .hijoG4 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG5 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG6 {
    justify-self: center; }
  .grid {
    grid-template-areas: "p1" "i1" "p2" "i2" "p3" "i3"; }
  .historia {
    max-width: 220px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .tituloNos {
    margin-top: -30px; } }

@media screen and (min-width: 381px) and (max-width: 420px) {
  a .logo {
    height: 85px;
    padding-top: 10px;
    margin-left: 60px; }
  .flex {
    justify-content: flex-start; }
  nav {
    margin-top: -142px;
    margin-left: 2px; }
  nav ul li {
    padding: 5px;
    margin-top: 148px;
    font-size: 10px;
    margin-left: -20px; }
  header {
    height: 125px; }
  .tituloInicio {
    margin-top: -25px; }
  .carCentr {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
    width: 360px; }
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 10px;
    height: 110px; }
  .telefono {
    margin-left: 28px; }
  p {
    margin-top: 4px;
    margin-bottom: 0rem; }
  footer .footH3 {
    font-size: 8px;
    padding-top: 0px; }
  h1 {
    font-size: 35px; }
  .intro {
    font-size: 10px; }
  .align-items-start {
    margin-left: 0px; }
  .nav-link {
    font-size: 8px;
    color: black; }
  .d-flex {
    height: 265px; }
  .nav-pills .nav-link {
    margin-left: 5px; }
  .imgSecciones {
    max-width: 115px;
    margin-left: 15px;
    margin-top: 45px;
    margin-right: 5px; }
  .fondoNos {
    border: silver 30px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 87; }
  .fondoPan {
    border: silver 30px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 70; }
  .fondoCafe {
    border: silver 30px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 70;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 30px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 70; }
  #cafeFondo {
    height: 210px; }
  #sandFondo {
    height: 550px;
    margin-left: 1px; }
  .gridForm {
    font-size: 9px; }
  .gridFormH12 {
    font-size: 9px; }
  .gridFormH13 {
    font-size: 9px; }
  #tituloContacto {
    margin-top: -22; }
  h3 {
    margin-top: -110px;
    font-size: 17px; }
  .bicicleta {
    height: 110px; }
  .boton {
    font-size: 9px;
    margin-bottom: 5px; }
  .hijoG1 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG2 {
    justify-self: center; }
  .hijoG3 {
    justify-self: center; }
  .hijoG4 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG5 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG6 {
    justify-self: center; }
  .grid {
    grid-template-areas: "p1" "i1" "p2" "i2" "p3" "i3"; }
  .historia {
    max-width: 220px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .tituloNos {
    margin-top: -30px; } }

@media screen and (min-width: 421px) and (max-width: 490px) {
  a .logo {
    height: 85px;
    padding-top: 10px;
    margin-left: 75px; }
  .flex {
    justify-content: flex-start; }
  nav {
    margin-top: -142px;
    margin-left: 28px; }
  nav ul li {
    padding: 5px;
    margin-top: 148px;
    font-size: 10px;
    margin-left: -20px; }
  header {
    height: 125px; }
  .tituloInicio {
    margin-top: -25px; }
  .carCentr {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
    width: 360px; }
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 10px;
    height: 110px; }
  .telefono {
    margin-left: 28px; }
  p {
    margin-top: 4px;
    margin-bottom: 0rem; }
  footer .footH3 {
    font-size: 8px;
    padding-top: 0px; }
  h1 {
    font-size: 35px; }
  .intro {
    font-size: 10px; }
  .align-items-start {
    margin-left: 0px; }
  .nav-link {
    font-size: 8px;
    color: black; }
  .d-flex {
    height: 265px; }
  .nav-pills .nav-link {
    margin-left: 5px; }
  .imgSecciones {
    max-width: 115px;
    margin-left: 15px;
    margin-top: 45px;
    margin-right: 5px; }
  .fondoNos {
    border: silver 30px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 87; }
  .fondoPan {
    border: silver 30px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 70; }
  .fondoCafe {
    border: silver 30px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 70;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 30px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 70; }
  #cafeFondo {
    height: 210px; }
  #sandFondo {
    height: 460px;
    margin-left: 1px; }
  .gridForm {
    font-size: 9px; }
  .gridFormH12 {
    font-size: 9px; }
  .gridFormH13 {
    font-size: 9px; }
  #tituloContacto {
    margin-top: -22; }
  h3 {
    margin-top: -110px;
    font-size: 17px; }
  .bicicleta {
    height: 110px; }
  .boton {
    font-size: 9px;
    margin-bottom: 5px; }
  .hijoG1 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG2 {
    justify-self: center; }
  .hijoG3 {
    justify-self: center; }
  .hijoG4 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG5 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG6 {
    justify-self: center; }
  .grid {
    grid-template-areas: "p1" "i1" "p2" "i2" "p3" "i3"; }
  .historia {
    max-width: 220px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .tituloNos {
    margin-top: -30px; } }

@media screen and (min-width: 491px) and (max-width: 600px) {
  a .logo {
    height: 90px;
    padding-top: 10px;
    margin-left: 110px; }
  .flex {
    justify-content: flex-start; }
  nav {
    margin-top: -140px;
    margin-left: 70px; }
  nav ul li {
    padding: 5px;
    margin-top: 148px;
    font-size: 10px;
    margin-left: -20px; }
  header {
    height: 135px; }
  .tituloInicio {
    margin-top: -25px; }
  .carCentr {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
    width: 360px; }
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 10px;
    height: 110px; }
  .telefono {
    margin-left: 28px; }
  p {
    margin-top: 4px;
    margin-bottom: 0rem; }
  footer .footH3 {
    font-size: 8px;
    padding-top: 0px; }
  h1 {
    font-size: 35px; }
  .intro {
    font-size: 10px; }
  .align-items-start {
    margin-left: 0px; }
  .nav-link {
    font-size: 8px;
    color: black; }
  .d-flex {
    height: 265px; }
  .nav-pills .nav-link {
    margin-left: 5px; }
  .imgSecciones {
    max-width: 115px;
    margin-left: 15px;
    margin-top: 45px;
    margin-right: 5px; }
  .fondoNos {
    border: silver 30px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 87; }
  .fondoPan {
    border: silver 30px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 70; }
  .fondoCafe {
    border: silver 30px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 70;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 30px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 70; }
  #cafeFondo {
    height: 210px; }
  #sandFondo {
    height: 380px;
    margin-left: 1px; }
  .gridForm {
    font-size: 9px; }
  .gridFormH12 {
    font-size: 9px; }
  .gridFormH13 {
    font-size: 9px; }
  #tituloContacto {
    margin-top: -22; }
  h3 {
    margin-top: -110px;
    font-size: 17px; }
  .bicicleta {
    height: 110px; }
  .boton {
    font-size: 9px;
    margin-bottom: 5px; }
  .hijoG1 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG2 {
    justify-self: center; }
  .hijoG3 {
    justify-self: center; }
  .hijoG4 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG5 {
    align-self: self-start;
    font-size: 8px;
    margin-left: 8px;
    margin-right: 8px; }
  .hijoG6 {
    justify-self: center; }
  .grid {
    grid-template-areas: "p1" "i1" "p2" "i2" "p3" "i3"; }
  .historia {
    max-width: 220px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .tituloNos {
    margin-top: -30px; } }

@media screen and (min-width: 601px) and (max-width: 670px) {
  a .logo {
    height: 110px;
    padding-left: 20px;
    margin-top: 0px; }
  nav {
    margin-top: -70px;
    margin-right: 0px; }
  nav li {
    font-size: 11px;
    padding: 0px; }
  h1 {
    font-size: 60px; }
  .fondoNos {
    border: silver 60px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 40; }
  .fondoPan {
    border: silver 60px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 50; }
  .fondoCafe {
    border: silver 60px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 40;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 60px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 40; }
  .grid {
    font-size: 12px; }
  .gridForm {
    font-size: 12px; }
  .historia {
    max-width: 270px; }
  .me-3 {
    margin-right: -2rem !important;
    margin-left: -3rem !important; }
  .align-items-start {
    font-size: 10px;
    margin-left: 49px; }
  .imgSecciones {
    width: 275px;
    margin-left: 17px;
    margin-right: 5px; }
  .d-flex {
    height: 300px; }
  #cafeFondo {
    height: 300px; }
  #sandFondo {
    margin-right: 0rem !important;
    margin-left: 3rem !important;
    height: 645px; }
  .tab-content {
    padding-left: 56px; }
  .intro {
    font-size: 12px; }
  .footH1 {
    font-size: 11px; }
  #seccionSandwich {
    margin-left: 45px;
    margin-right: 12px; } }

@media screen and (min-width: 671px) and (max-width: 780px) {
  a .logo {
    height: 120px;
    padding-left: 20px;
    margin-top: 0px; }
  nav {
    margin-top: -90px;
    margin-right: 0px; }
  nav li {
    font-size: 11px;
    padding: 5px; }
  .fondoNos {
    border: silver 60px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 40; }
  .fondoPan {
    border: silver 60px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 50; }
  .fondoCafe {
    border: silver 60px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 40;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 60px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 40; }
  .grid {
    font-size: 15px; }
  .gridForm {
    font-size: 14px; }
  .me-3 {
    margin-right: -1rem !important;
    margin-left: -3rem !important; }
  .align-items-start {
    font-size: 12px;
    margin-left: 50px; }
  .imgSecciones {
    width: 290px;
    margin-left: 30px;
    margin-right: 5px; }
  .d-flex {
    height: 345px; }
  #cafeFondo {
    height: 330px; }
  #sandFondo {
    margin-right: 0rem !important;
    margin-left: 3rem !important;
    height: 645px; }
  .tab-content {
    padding-left: 56px; }
  .intro {
    font-size: 15px; }
  .footH1 {
    font-size: 11px; }
  #seccionSandwich {
    margin-left: 29px;
    margin-right: 13px; } }

@media screen and (min-width: 781px) and (max-width: 900px) {
  a .logo {
    height: 130px;
    padding-left: 30px;
    margin-top: 7px; }
  nav {
    margin-top: -110px;
    margin-right: 0px; }
  nav li {
    font-size: 12px; }
  .fondoNos {
    border: silver 60px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 60; }
  .fondoPan {
    border: silver 60px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 60; }
  .fondoCafe {
    border: silver 60px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 60;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 60px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 48; }
  .gridForm {
    font-size: 14px; }
  .me-3 {
    margin-right: 0rem !important;
    margin-left: -3rem !important; }
  .align-items-start {
    font-size: 12px;
    margin-left: 50px; }
  .imgSecciones {
    width: 395px;
    margin-left: 30px;
    margin-right: 5px; }
  .d-flex {
    height: 345px; }
  #cafeFondo {
    height: 330px; }
  #sandFondo {
    margin-left: 50px;
    margin-right: -10px;
    height: 610px; }
  .tab-content {
    padding-left: 42px; }
  .footH1 {
    font-size: 11px; }
  #seccionSandwich {
    margin-left: 29px;
    margin-right: 13px; } }

@media screen and (min-width: 901px) and (max-width: 1000px) {
  a .logo {
    height: 140px;
    padding-left: 30px;
    margin-top: 7px; }
  nav {
    margin-top: -113px;
    margin-right: 0px; }
  nav li {
    font-size: 17px;
    padding: 7px; }
  .fondoNos {
    border: silver 70px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 60; }
  .fondoPan {
    border: silver 70px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 60; }
  .fondoCafe {
    border: silver 70px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 60;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 70px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 60; }
  .me-3 {
    margin-right: 1rem !important;
    margin-left: -2rem !important; }
  .align-items-start {
    font-size: 14px;
    margin-left: 50px; }
  .imgSecciones {
    width: 430px;
    margin-left: 30px; }
  #sandFondo {
    margin-left: 70px;
    margin-right: 5px;
    height: 532px; }
  .tab-content {
    padding-left: 20px; }
  .footH1 {
    font-size: 12px; }
  #seccionSandwich {
    margin-left: 30px; }
  .gridForm {
    font-size: 14px; } }

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  a .logo {
    height: 155px;
    padding-left: 40px;
    margin-top: 10px; }
  nav {
    margin-top: -138px;
    margin-right: 7px; }
  nav li {
    font-size: 19px;
    padding: 9px; }
  .fondoNos {
    border: silver 80px solid;
    border-image: url("../Img/fondonosotros.png");
    border-image-slice: 60; }
  .fondoPan {
    border: silver 80px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 60; }
  .fondoCafe {
    border: silver 80px solid;
    border-image: url("../Img/fondocafe.png");
    border-image-slice: 60;
    border-image-repeat: stretch; }
  .fondoSand {
    border: silver 80px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 60; }
  .imgSecciones {
    margin-right: 5px;
    margin-left: 20px; }
  .me-3 {
    margin-right: -2rem !important;
    margin-left: -1rem !important; }
  #sandFondo {
    margin-left: 21px;
    height: 575px; }
  .tab-content {
    padding-left: 50px; }
  .footH1 {
    font-size: 12px; } }
