.titulo404 {
    margin-top: -110px;
    font-size: 100px;
}

.parrafo404 {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.travolta {
    margin-bottom: 20px;
}

.vinculo404 {
    color: blue;
}