.noso {
    font-family: $texto;
}

.historia {
    max-width: 275px;
    max-height: 275px;
}

.grid {
    display: grid;
    grid-template-areas: "p1 i1"
                         "i2 p2"
                         "p3 i3";
}

.hijoG1 {
    grid-area: p1;
    justify-self: end;
    align-self: center;
}

.hijoG2 {
    grid-area: i1;
    justify-self: start;
    align-self: center;
}

.hijoG3 {
    grid-area: i2;
    justify-self: end;
    align-self: center;
}

.hijoG4 {
    grid-area: p2;
    justify-self: start;
    align-self: center;
}

.hijoG5 {
    grid-area: p3;
    justify-self: end;
    align-self: center;
}

.hijoG6 {
    grid-area: i3;
    align-self: center;
}

.marginNos {
    padding-top: 30px;
}

.fondoNos {
    border: silver 90px solid;
    border-image: url("../Img/v3.jpg");
    border-image-slice: 90;
    border-image-repeat: repeat;
    background-image: linear-gradient($col-pri, white, $col-pri);
    width: 100%;
    height: 100%;
}

.tituloNos {
    margin-top: -27px;
}