.gridPanad {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "p1 p2 p3"
                         "c1 c2 c3"
                         "f1 f2 f3"
                         "g1 g2 g3"
                         "e1 e2 e3";
}

.gPanH1 {
    grid-area: p1;
    justify-self: center;
    align-self: center;
}

.gPanH2 {
    grid-area: p2;
    align-self: center;
}

.gPanH3 {
    grid-area: p3;
    align-self: center;
}

.gPanH4 {
    grid-area: c1;
    justify-self: center;
    align-self: center;
}

.gPanH5 {
    grid-area: c2;
    align-self: center;
}

.gPanH6 {
    grid-area: c3;
    align-self: center;
}

.gPanH7 {
    grid-area: f1;
    justify-self: center;
    align-self: center;
}

.gPanH8 {
    grid-area: f2;
    align-self: center;
}

.gPanH9 {
    grid-area: f3;
    align-self: center;
}

.gPanH10 {
    grid-area: g1;
    justify-self: center;
    align-self: center;
}

.gPanH11 {
    grid-area: g2;
    align-self: center;
}

.gPanH12 {
    grid-area: g3;
    align-self: center;
}

.gPanH13 {
    grid-area: e1;
    justify-self: center;
    align-self: center;
}

.gPanH14 {
    grid-area: e2;
    align-self: center;
}

.gPanH15 {
    grid-area: e3;
    align-self: center;
}

.fondoPan {
    border: silver 90px solid;
    border-image: url("../Img/bordepan.png");
    border-image-slice: 70;
    border-image-repeat: stretch;
    background-image: linear-gradient($col-pri, white, $col-pri);
    width: 100%;
    height: 100%;
}

.nav-link{
    color: black;
}