.fondoPan {
    border: silver 90px solid;
    border-image: url("../Img/fondopan.png");
    border-image-slice: 70;
    border-image-repeat: stretch;
    background-image: linear-gradient($col-pri, white, $col-pri);
}

.nav-link{
    color: black;
}