// Media queries para smartphone
@media screen and(max-width: $celular) 
{   
    a .logo {
        height: 75px;
        padding-left: 2px;
        padding-top: 10px;
        margin-left: 105px;
    }

    .flex {
        justify-content: flex-start;
    }

    nav ul li {
        padding: 5px;
        margin-top: 148px;
        font-size: 10px;
        margin-left: -20px;
    }

    header  {
        height: 110px;
    }

    .tituloInicio {
        margin-top: -25px;
    }

    .carCentr {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        margin-right: 8px;
        margin-left: 8px;
        width: 360px;
    }

    footer {
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 10px;
        height: 110px;
    }

    .telefono {
        margin-left: 28px;
    }

    p {
        margin-top: 4px;
        margin-bottom: 0rem;
    }

    footer .footH3 {
        font-size: 8px;
        padding-top: 0px;
    }

    h1 {
        font-size: 35px;
    }

    .intro {
        font-size: 10px;
    }

    .align-items-start {
        margin-left: 0px;
    }

    .nav-link {
        font-size: 8px;
        color: black;
    }

    .d-flex {
        height: 265px;
    }

    .nav-pills .nav-link {
        margin-left: 5px;
    }

    .imgSecciones {
        max-width: 115px;
        margin-left: 15px;
        margin-top: 45px;
        margin-right: 5px;
    }

    .fondoNos {
        border: silver 30px solid;
        border-image: url("../Img/v3.jpg");
        border-image-slice: 87;
        border-image-repeat: repeat;
    }

    .fondoPan {
        border: silver 30px solid;
        border-image: url(../Img/bordepan.png);
        border-image-slice: 70;
        border-image-repeat: stretch;
    }

    .fondoCafe {
        border: silver 30px solid;
        border-image: url(../Img/bordecafe.png);
        border-image-slice: 70;
        border-image-repeat: stretch;
    }

    .fondoSand {
        border: silver 30px solid;
        border-image: url(../Img/bordesand.png);
        border-image-slice: 70;
        border-image-repeat: stretch;
    }

    #cafeFondo {
        height: 210px;
    }

    #sandFondo {
        height: 405px;
    }

    .gridForm {
        font-size: 9px;
    }

    .gridFormH12 {
        font-size: 9px;
    }

    .gridFormH13 {
        font-size: 9px;
    }

    #tituloContacto {
        margin-top: -22;
    }

    h3 {
        margin-top: -110px;
        font-size: 17px;
    }

    .bicicleta {
        height: 110px;
    }

    .boton {
        font-size: 9px;
        margin-bottom: 5px;
    }

    .hijoG1 {
        align-self: self-start;
        font-size: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .hijoG2 {
        justify-self: center;
    }

    .hijoG3 {
        justify-self: center;
    }

    .hijoG4 {
        align-self: self-start;
        font-size: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .hijoG5 {
        align-self: self-start;
        font-size: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .hijoG6 {
        justify-self: center;
    }

    .grid {
        grid-template-areas: "p1"
                             "i1"
                             "p2"
                             "i2"
                             "p3"
                             "i3";
    }

    .historia {
        max-width: 220px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tituloNos {
        margin-top: -30px;
    }
}
// Media queries para tablets
@media screen and(min-width:$celular+1) and (max-width: $tablet)
{
    a .logo {
        height: 128px;
        padding-left: 7px;
        padding-top: 15px;
    }

    nav ul li {
        padding: 0px;
        margin-top: 43px;
        font-size: 15px;
    }

    header  {
        height: 75px;
    }

    h1 {
        font-size: 56px;
    }

    .tituloNos {
        margin-top: -30px;
    }

    footer {
        height: 75px;
    }

    .fondoNos {
        border: silver 50px solid;
        border-image: url("../Img/v3.jpg");
        border-image-slice: 90;
        border-image-repeat: repeat;
    }

    .fondoPan {
        border: silver 50px solid;
        border-image: url(../Img/bordepan.png);
        border-image-slice: 70;
        border-image-repeat: stretch;
    }

    .fondoCafe {
        border: silver 50px solid;
        border-image: url(../Img/bordecafe.png);
        border-image-slice: 70;
        border-image-repeat: stretch;
    }

    .fondoSand {
        border: silver 50px solid;
        border-image: url(../Img/bordesand.png);
        border-image-slice: 70;
        border-image-repeat: stretch;
    }

    #sandFondo {
        height: 600px;
    }

    .align-items-start {
        margin-left: 1px;
    }

    .d-flex {
        height: 398px;
    }
    
    .me-3 {
        margin-right: 2rem!important;
    }

    .imgSecciones {
        max-width: 300px;
        margin-left: 40px;
        margin-top: 15px;
        margin-right: 5px;
    }
}

