.fondoSand {
    border: silver 90px solid;
    border-image: url("../Img/bordesand.png");
    border-image-slice: 70;
    border-image-repeat: stretch;
    background-image: linear-gradient($col-pri, white, $col-pri);
}

#sandFondo {
    height: 530px;
    margin-left: 92px;
}

#seccionSandwich {
    margin-left: 25px;
}

#pebeteImagen {
    margin-right: 10px;
}