.fondoSand {
    border: silver 90px solid;
    border-image: url("../Img/fondosand.png");
    border-image-slice: 87;
    background-image: linear-gradient($col-pri, white, $col-pri);
}

#sandFondo {
    height: 530px;
    margin-left: 92px;
}

#seccionSandwich {
    margin-left: 25px;
}

#pebeteImagen {
    margin-right: 10px;
}

.imgPebetes {
    margin-right: 5px;
}