$col-pri: #E57723;
$tit-letra: 'Indie Flower', cursive; 
$tit-tamaño: 65px;
$texto: 'Source Code Pro', monospace;
$celular:380px;
$celularMediano: 420px;
$celularGrande:490px;
$tabletChica: 600px;
$tabletMediana: 670px;
$tabletGrande: 780px;
$desktopChico: 900px;
$desktopMediano: 1000px;
$desktopGrande: 1100px;
$desktop: 1215px;

